@import '../public/assets/scss/app.scss';

.onelinediv{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.order-model .model-model {
max-width:85% !important;
}


.model-model {
max-width:85% !important;
}

@media  (max-width:700px) {
    .model-model {
        max-width:95% !important;
        } 
}
    

// .model-model input {
    
//         display: block !important;
//         width: 100% !important;
//         padding: 0.375rem 0.75rem !important;
//         font-size: 1rem !important;
//         font-weight: 400 !important;
//         line-height: 1.5 !important;
//         color: var(--bs-body-color) !important;
//         -webkit-appearance: none !important;
//         -moz-appearance: none !important;
//         appearance: none !important;
//         background-color: var(--bs-body-bg) !important;
//         background-clip: padding-box !important;
//         border: var(--bs-border-width) solid var(--bs-border-color) !important;
//         border-radius: var(--bs-border-radius) !important;
//         transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  
// }

.model-model .input-input{
    
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: var(--bs-body-color) !important;
    // -webkit-appearance: none !important;
    // -moz-appearance: none !important;
    // appearance: none !important;
    background-color: none !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

}

.capitalized{
    text-transform: capitalize;
}
.dODGfY{
    align-items: center;
    justify-content: space-around;
}
.wmde-markdown-color{
    color: black !important;
}

.text-capital{
text-transform: capitalize !important;
}